{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    <title>Sambutan</title>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h5 class="m-0">Sambutan</h5>
        </div>
        <div class="card-body">
            <p>
                Selamat datang di eksperimen hari ini dimana Anda akan menyelesaikan rangkaian eksperimen ini
                menggunakan PC/laptop/tab sendiri; mohon untuk sebisa mungkin tidak menggunakan handphone.
                Eksperimen ini memberikan Anda kesempatan untuk memperoleh uang tunai yang akan dibayarkan segera
                setelah Anda menyelesaikan rangkaian acara hari ini. Besaran uang yang akan Anda peroleh bergantung
                pada apa yang Anda lakukan di dalam eksperimen ini. Uang yang Anda peroleh dalam eksperimen ini akan
                ditambahkan dengan uang kehadiran sebesar Rp20.000. Ini merupakan eksperimen individu yang berarti
                keputusan Anda tidak mempengaruhi maupun dipengaruhi oleh keputusan peserta yang lain.
            </p>
            <p>
                Anda juga akan diminta untuk mengisi kuesioner mengenai demografi dan wawasan lingkungan setelah
                menyelesaikan tahapan eksperimen. Eksperimen ini telah mendapatkan persetujuan dari Komisi Etik
                Direktorat Penelitian UGM. Lembar persetujuan terinformasi yang tersedia pada saat Anda mendaftar dan
                memilih sesi ini. Kami lampirkan sekali lagi lembar informasi tersebut: <strong>LINK</strong>
            </p>
            <p>
                Dengan menekan tombol <strong>‘Lanjutkan’</strong> maka Anda menyatakan setuju untuk mengikuti
                rangkaian eksperimen ini.
            </p>
            <div class="card w-25">
                <div class="card-header text-bg-secondary">
                    <h5 class="m-0">Tim Peneliti</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Yudistira Hendra Permana</li>
                    <li class="list-group-item">Muhammad Ryan Sanjaya</li>
<li class="list-group-item">Helena Agathia</li>
                </ul>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="otree-btn btn btn-primary">
                <span>Lanjutkan</span>
                <i class="fa-solid fa-forward ms-1"></i>
            </button>
        </div>
    </div>
{% endblock %}